.container__items {
  margin: 10px;
  display: flex;
  max-width: 500px;
  justify-content: space-around;
  width: 100%;
  color:white;
}
.container__items__hide {
  display: none;
}
.wrapper_items {
  background-color: black;
  border: 20px solid black;
}
.content__container {
  width: 400px;
  height: auto;
  display: flex;
  margin: auto;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.content__container span {
 color: #cecaca;
 font-size: 17px;
}
.content__container form {
  display: flex;
  flex-direction: column;
  height: auto;
}
.content__container__input {
  width: 300px;
  height: 90px;
  text-align: center;
}
label {
  color: #bbb;
}
.content__container__input input, textarea {
  text-align: center;
  width: 300px;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.16);
  border:0px;
  color: #cacaca;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.content__container__textarea {
  resize: none;
  height: 60px;
}
form {
  position: relative;
  align-items: center;
}
form span {
  height: 20px;
}

.content__button {
  height: 40px;
  width: 40px;
  margin-top: 30px;
  position: relative;
  border-radius: 50%;
    background-image: linear-gradient(to bottom, #00a2d3, #0d7796);
    box-shadow:  inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    border-color: rgba(255, 255, 255, 0.06);
    cursor: pointer;
    transition: 0.4s;
}

/*Create  new task */
.container__items {
  width: 100%;
  min-height: 50px;
  height: auto;
  display: flex;
  word-break: break-all;
  justify-content: space-around;
  align-items: center;
  background-color: #8a8a8a29;
  border-radius: 15px;

}
.container__items_index {
  width: 40px;
  text-align: center;
  height: inherit;
}
.container__items_name {
  width: 100px;
  text-align: center;
  height: inherit;
  word-wrap:break-word;
}
.container__items_description {
  width: 450px;
  height: inherit;
  border-bottom: 2px solid white;
  word-wrap:break-word;
  }
  .container__items_button {
    height: 40px;
    width: 60px;
    text-align: center;
    position: relative;
  }
  .container__items_button button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3cd83c;
    text-align: center;
    position: relative;
  }
  .container__items_button button::after {
    content: '\2714';
    background-size: cover;
    width: 40px;
    right: 3px;
    font-size: 20px;
    height: 20px;
  }
