body {
  background-color: #191f1f;
}
.app-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  min-height: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.wrapper__description {
  width: inherit;
  height: 300px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.wrapper__button {
  height: 300px;
  width: inherit;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.wrapper__button p {
  text-align: center;
    color: #cacaca; 
}
